apiVersion: v1
kind: Service
metadata:
  labels:
    name: external-kong
  name: external-kong
  namespace: dojot
spec:
  ports:
  - name: "ext-http"
    port: 80
    targetPort: 8000
  - name: "ext-https"
    port: 443
    targetPort: 8443
  externalIPs:
  - [EXTERNAL_IP]
  selector:
    app: external-kong
---
apiVersion: v1
kind: Service
metadata:
  labels:
    name: external-mqtt
  name: external-mqtt
  namespace: dojot
spec:
  ports:
  - name: "ext-mqtt"
    port: 1883
    targetPort: 1883
  externalIPs:
  - [EXTERNAL_IP]
  selector:
    app: external-mqtt
---
apiVersion: v1
kind: Service
metadata:
  labels:
    name: external-coap
  name: external-coap
  namespace: dojot
spec:
  ports:
  - name: "ext-coap"
    port: 5684
    protocol: UDP
    targetPort: 5684
  externalIPs:
  - [EXTERNAL_IP]
  selector:
    app: external-coap
